body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url("https://img.freepik.com/free-photo/young-adults-enjoy-carefree-nightlife-singing-laughing-generated-by-ai_188544-54046.jpg");
    background-size: contain;
    font-family: "Source Sans Pro";
    font-style: normal;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-size: 12px;
    color:white;
    text-align: center;   
}

.quote{
    background-color: #c271ff;
}

.links3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ffffff;
}

.links3 img{
    float: left;
}
.links3 a {
    float: right;
    display:block;
    color: #FFFFFF;
    padding: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.log {
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: -2.2rem;
    background-blend-mode: color;
    background: rgba(0, 0, 0, 1);
    background: radial-gradient(85.9% 85.9% at 50% 14.1%,
            rgba(41, 48, 61, 0.0001) 0%,
            #071629 100%);
    color: white;
}

.Banner {
    align-items: center;
    padding-top: 5rem;
    display: inline-block;
    justify-content: center;
}

.Banner h1 {
    height: 151px;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    text-align: center;
    color: #ffffff;
    z-index: 20;
}

.Banner p {
    height: 20px;
    position: relative;
    margin-top: -5%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-left: 38%;
    margin-right: 38%;
}

.Banner button {
    background: #c271ff;
    border-radius: 25px;
    border: none;
    padding: 0.7rem;
    color: white;
    font-weight: 500;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    align-self: center;
    margin: 2rem;
    padding: 1rem;
}

.dcolor {
    color: #c271ff;
}

.BannerImage {
    padding: 1%;
    display: flex;
    z-index: 20;
}

.Banner h2 {
    align-self: center;
    padding: 2rem;
    font-weight: 300;
    line-height: 40px;
}

.dcolor {
    font-weight: 700;
}

.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BannerImage {
    width: 20%;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BannerImage img {
    border-radius: 50%;
    max-width: 80%;
}

.BannerImage h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.BannerImage p {
    height: 48px;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
}